<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="main-nav" role="navigation">

            <!-- Mobile menu toggle button (hamburger/x icon) -->
            <input id="main-menu-state" type="checkbox" />
            <label class="main-menu-btn" for="main-menu-state"> <span class="main-menu-btn-icon"></span> Toggle main
              menu visibility </label>
            <h2 class="nav-brand"><a href="/"><img src="../assets/landing/images/icon/mfc-2.png" alt="Mash Fitness" style="height: 35px;"
                  class="img-fluid"></a></h2>
            <!-- Sample menu definition -->
            <ul id="main-menu" class="sm sm-clean">
              <li><a href="#">Home</a></li>
              <li><a href="/#about">About Us</a></li>
              <li><a href="/#activities">Activities</a></li>
              <li><a href="/#schedule">Schedule</a></li>
              <!-- <li><a href="blog.html">Blog</a></li> -->
              <!-- <li><a href="#">Pages</a>
                <ul>
                  <li><a href="trainers.html">Trainers</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                  <li><a href="error.html">Error</a></li>
                </ul>
              </li> -->
              <li><a href="/#contact">Get In Touch</a></li>
              <li class="last_menu"><a href="/login">Login</a></li>
              <li class="page-btn" style="margin-left: 0;"><a href="/signup" >Sign Up</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>