<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mash Fitness Club | Join the Movement</title>
  <meta name="description" content="Mash Fitness Club — aerobics, strength training, jogging and hikes. Join the community." />
     
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/img/main-page/favicon.webp" rel="shortcut icon" type="image/x-icon" />

  <link rel="stylesheet" href="./assets/landing/css/bootsnav.css">
  <link rel="stylesheet" href="./assets/landing/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/landing/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./assets/landing/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="./assets/landing/css/font-awesome.css">
  <link rel="stylesheet" href="./assets/landing/css/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/landing/css/sm-clean.css">
  <link rel="stylesheet" href="./assets/landing/css/sm-core-css.css">
  <link rel="stylesheet" href="./assets/landing/css/style.css">
  <link rel="stylesheet" href="./assets/landing/css/responsive.css">

  <script src="https://kit.fontawesome.com/e6d1f98a15.js" crossorigin="anonymous"></script>
  <style>
    #loader{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#000000d5;
  backdrop-filter: blur(20px);   /* optional glass effect */
  
  z-index:9999;
}
  </style>
</head>

<body>
<div id="loader">
  <div class="dumbbell"></div>
</div>
  <!-- loader start -->
  <!-- <div class="page_loader">
    <img src="assets/img/main-page/loader.svg" alt="img">
  </div> -->
  <!-- loader end -->
  <!-- header -->
  <%- include("partials/header.html") %>
  <!-- end header -->

  

  <!-- start header banner section -->
  <section class="hero-header-banner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6"></div>
        <div class="col-md-10 col-sm-6 col-xs-6">
          <div class="banner-content-section">
            <div class="banner-img-section">
              <h1>Transform Your Body. Reset Your Mind.</h1>
            </div>
            <div class="content-section">
              <p class="lead">Structured fitness programs, detox challenges, hiking experiences & lifestyle transformation
                 — built for real people, real results.</p>
            </div>
            <div class="d-flex gap-2">
              <a class="content-btn" href="/signup">JOIN TODAY</a>
              <a href="/#about" class="content-btn-2">READ MORE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="down-arrow"> <img src="./assets/landing/images/page/down-arrow.webp" alt="Mash Fitness" class="img-fluid"> </div>
    </div>
  </section>
  <!-- end header banner section -->

  <!-- start about section -->
  <section id="about" class="hero-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <div class="hero-about-content">
            <div class="about-header">
              <h1>ABOUT <span>MASH FITNESS CLUB</span></h1>
            </div>
            <div class="about-content">
              <p>
                <strong>Mash Fitness Club</strong> is a fast-growing community-based fitness and wellness organization located in Rabie Ridge, Gauteng. <br><br>
                
                We provide <strong> structured physical training, online fitness programs, detox challenges, nutrition support, hiking
                experiences, and lifestyle transformation </strong> initiatives designed to combat inactivity and lifestyle-related diseases. <br><br>
                
                Founded on discipline, accountability, and community empowerment, Mash Fitness Club delivers affordable, results-driven
                programs suitable for individuals at <strong> all fitness levels</strong>. <br><br>
                
                We are not just a fitness club.
                We are a movement dedicated to transforming lives <strong>physically, mentally</strong>, and <strong>socially </strong>.
              </p>
              <div class="about-button"> <a href="/#more-about-us" class="about-btn">LEARN MORE</a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12  d-flex justify-content-center">
          <div class="about-img"> 
            <img src="./assets/landing/images/page/about-mash.jpg" alt="Mash Fitness" class="img-fluid downer" style="height: 400px; aspect-ratio: 1/1; background-size: cover;"> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- start our courses -->
  <section id="activities" class="hero-courses section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="our-courses-header">
            <h2>WHAT WE <span>OFFER</span></h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img"> 
              <!-- <img src="" alt="Mash Fitness" class="img-fluid"> -->
            </div>
            <div class="course-content">
              <h2>🏋🏾 Structured Physical Training</h2>
              <p>Structured sessions designed for fat loss, strength building, endurance improvement, and overall wellness.</p><br>
              <div class="d-flex justify-content-center">
              <ul class="bullet">
                <li>Weight loss programs</li>
                <li>Muscle gain programs</li>
                <li>Bootcamp sessions</li>
                <li>Personal training</li>
              </div>
              </ul>
              <div class="ml-2">
                <!-- <a href="/" class="content-btn-2">READ MORE</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img"> 
              <!-- <img src="assets/img/main-page/courses-img-2.webp" alt="Mash Fitness" class="img-fluid"> -->
            </div>
            <div class="course-content">
              <h2>🌿 Detox & Wellness Challenges</h2>
              <p>We integrate structured training and nutrition education to drive lasting, measurable transformation.</p><br>
              <div class="d-flex justify-content-center">
              <ul class="bullet">
                <li>7-Day Detox</li>
                <li>14-Day Reset</li>
                <li>Nutritional guidance</li>
                <li>Wellness tracking</li>
              </div>
              </ul>
              <div class="ml-2">
                <!-- <a href="/" class="content-btn-2">READ MORE</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img"> 
              <!-- <img src="assets/img/main-page/courses-img-3.webp" alt="Mash Fitness" class="img-fluid"> -->
            </div>
            <div class="course-content">
              <h2>🥾 Hiking & Outdoor Fitness Experiences</h2>
              <p>Our hiking experiences build physical strength and mental clarity while creating meaningful social connections.</p><br>
              <div class="d-flex justify-content-center">
              <ul class="bullet">
                <li>Monthly group hikes</li>
                <li>Community bonding</li>
                <li>Outdoor strength sessions</li>
                <br>
              </ul>
            </div>
              <div class="ml-2">
                <!-- <a href="/" class="content-btn-2">READ MORE</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img">
               <!-- <img src="assets/img/main-page/courses-img-4.webp" alt="Mash Fitness" class="img-fluid"> -->
            </div>
            <div class="course-content">
              <h2>💻 Online Fitness Programs</h2>
              <p>Our hybrid model allows members to train from anywhere while remaining accountable and supported.</p><br>
              <div class="d-flex justify-content-center">
              <ul class="bullet">
                <li>Home workout plans</li>
                <li>Meal guidance</li>
                <li>Weekly check-ins</li>
                <li>WhatsApp support</li>
              </div>
              </ul>
              <div class="ml-2">
                <!-- <a href="/" class="content-btn-2">READ MORE</a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img"> <img src="assets/img/main-page/courses-img-5.webp" alt="Mash Fitness" class="img-fluid">
            </div>
            <div class="course-content">
              <h2>Martial Arts</h2>
              <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="our-courses-box">
            <div class="course-img"> <img src="assets/img/main-page/courses-img-6.webp" alt="Mash Fitness" class="img-fluid">
            </div>
            <div class="course-content">
              <h2>Running</h2>
              <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="course-button"> <a href="course.html" class="course-btn">VIEW MORE</a> </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- end our courses -->

  <!-- start why us section -->
  <section class="hero-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center">
          <div class="about-img"> <img src="./assets/landing/images/page/weights-gym.jpg" alt="Mash Fitness" class="img-fluid" style="height: 380px; transform: translateY(-20px);"> </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center">
          <div class="hero-about-content">
            <div class="about-header">
              <h1>WHY <span>CHOOSE</span> MASH FITNESS </h1>
            </div>
            <div class="about-content">
              <p>We provide structured programmes, experiences, and lifestyle transformation initiatives designed to combat inactivity and lifestyle-related diseases.</p>
              <ul class="bullet">
                <li>Affordable programs ✔️</li>
                <li>Accountability system ✔️</li>
                <li>Community-driven ✔️</li>
                <li>Discipline-based coaching ✔️</li>
                <li>Real transformation focus ✔️</li>
              </ul>
              <div class="ml-2">
                <!-- <a href="/" class="content-btn-2">READ MORE</a> -->
              </div>
              <br>
              <div class="about-button why"> 
                <a href="/signup" class="page-btn">GET ME STARTED</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end whyus section -->

  <section class="hero-routine step-process">
    <div class="container d-flex justify-content-start">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="routine-title">
            <h1 style="text-align: left;">YOUR 3-STEP <span>TRANSFORMATON</span> PROCESS</h1>
            
            <br>
                <ul class="bullet-2 col-12">
                  <li><span class="h2-font"> STEP 1.</span><br> <span class="fw-semibold">Assessment:</span> We evaluate
                    your fitness level and goals.</li> <br>
  
                  <li><span class="h2-font"> STEP 2.</span><br> <span class="fw-semibold"> Structured Plan:</span> Custom
                    training & nutrition guidance.</li> <br>
  
                  <li><span class="h2-font"> STEP 3.</span><br> <span class="fw-semibold">Results + Accountability:</span>
                    We track progress & push consistency.</li>
                </ul>
              <p style="text-align: left; font-size: 16px;">Create your free profile so we can better understand your goals and tailor your fitness journey to your needs.</p>

                <div class="about-button-2 col-12">
                  <a href="/signup" class="about-btn">CREATE PROFILE</a>
                </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- start Routine section -->


  <!-- start trainer section -->
  <section class="hero-trainers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="trainer-header">
            <h1>OUR <span>TRAINERS</span></h1>
            <p>Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis,<br>
              mollis vehicula sapien.</p>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="owl-carousel owl-theme ss_carousel" id="slider1">
            <div class="item">
              <div class="trainer-box">
                <div class="trainer-img"> <img src="../assets/landing/images/page/coach1.jpg" alt="Mash Fitness Club" style="height: 550px;"
                    class="img-fluid">
                  <div class="trainer-box-content">
                    <h2>RUTH EDWARDS</h2>
                    <h5>CARDIO EXPERT</h5>
                    <p>Our dedicated trainers lead with discipline and encouragement, helping members push limits while staying supported.
                      nibh.</p>
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="trainers-tag-name">
                  <h2>RUTH EDWARDS</h2>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="trainer-box">
                <div class="trainer-img"> <img src="../assets/landing/images/page/coach2.jpg" alt="Mash Fitness" style="height: 550px;"
                    class="img-fluid">
                  <div class="trainer-box-content">
                    <h2>BRUCE BAILEY</h2>
                    <h5>CARDIO EXPERT</h5>
                    <p>Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla
                      nibh.</p>
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="trainers-tag-name">
                  <h2>BRUCE BAILEY</h2>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- start trainer section -->

  <!-- start Routine section -->
  <section id="schedule" class="hero-routine">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="routine-title">
            <h1>OUR <span>TIMETABLE</span></h1>
            <p>Check our training timetable and commit to sessions that align with your fitness journey. Log in to join a session.</p>
          </div>
        </div>
        <div class="timetable-scroll mb-5">
          <div id="timetable" class="row g-3 d-flex timetable-wrapper timetable-styler">
          
              <div class="col-md-3">
                  <h6 class="text-center">Monday</h6>
                  <div class="timetable-column shadow-sm" id="Monday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Tuesday</h6>
                  <div class="timetable-column shadow-sm" id="Tuesday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Wednesday</h6>
                  <div class="timetable-column shadow-sm" id="Wednesday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Thursday</h6>
                  <div class="timetable-column shadow-sm" id="Thursday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Friday</h6>
                  <div class="timetable-column shadow-sm" id="Friday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Saturday</h6>
                  <div class="timetable-column shadow-sm" id="Saturday"></div>
              </div>
          
              <div class="col-md-3">
                  <h6 class="text-center">Sunday</h6>
                  <div class="timetable-column shadow-sm" id="Sunday"></div>
              </div>
          
          </div>
        </div>
        <div class="about-button why d-flex justify-content-center"> 
                <a href="/login" class="page-btn">JOIN SESSION</a>
              </div>
        
  <!-- start blog section -->
<div id="more-about-us"></div>
  <!-- ABout Us section 2-->
  <section class="hero-about">
    <div class="container d-flex justify-content-center">
      <div class="row col-10 ">
        <div class="col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center">
          <div class="hero-about-content">
            <div class="about-header text-center">
              <h1>OUR <span>MISSION</span></h1>
            </div>
            <div class="about-content">
              <ul class="bullet">
                <li>To make fitness accessible and affordable for all</li>
                <li>To promote healthy lifestyles through structured training programs</li>
                <li>To build strong community networks through outdoor and wellness events</li>
                <li>To empower individuals with knowledge about nutrition and sustainable body transformation</li>
              </ul>
              <!--<div class="ml-2">
                 <a href="/" class="content-btn-2">READ MORE</a> 
              </div>-->
              <br>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center">
          <div class="hero-about-content">
            <div class="about-header text-center">
              <h1>OUR <span>VISSION</span></h1>
            </div>
            <div class="about-content">
              <p style="font-size: 20px;">To become one of South Africa’s leading community-driven fitness and wellness brands, transforming lives through structured training, wellness education, and powerful community engagement..</p>
              <!--<div class="ml-2">
                 <a href="/" class="content-btn-2">READ MORE</a> 
              </div>-->
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end whyus section -->


  <!-- start footer section -->
  <footer>
    <div class="container" id="contact">
      <!-- start card section -->
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="card-box">
            <div class="card-box-title">
              <h1>SUBSCRIBE TO <span>OUR NEWSLETTER</span></h1>
            </div>
            <div class="card-box-input">
              <input type="text" placeholder="Your Email...." class="card-input">
              <div class="input-img"> <img src="../assets/landing/images/page/paper-plane.webp" alt="Mash Fitness" class="img-fluid">
              </div>
            </div>
            <div class="card-box-content">
              <p>Get latest updates for our latest activities</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end card section -->
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="footer-logo"> <img src="../assets/landing/images/icon/mfc-2.png" style="height: 40px;" alt="Mash Fitness" class="img-fluid">
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="/#about">ABOUT US</a></li>
              <li><a href="/#activities">ACTIVITIES</a></li>
              <li><a href="/#schedule">SCHEDULE</a></li>
              <!-- <li><a href="blog-details.html">BLOG</a></li> -->
              <li><a href="/#contact">CONTACT US</a></li>
            </ul>
          </div>
          <div class="footer-content">
            <p>At Mash Fitness Club, we don’t just train bodies — we shape mindsets and build stronger communities. 
              Through structured programs, expert guidance, and unwavering support, we help you become the strongest 
              version of yourself. The transformation is real. The results are measurable. The community is waiting.</p>
          </div>
          <div class="footer-social-link">
            <ul>
              <li><span><i class="fa fa-phone" aria-hidden="true"></i></span><a href="tel:"></a></li>
              <li><a href="#!"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
              <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#!"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a></li>
              <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="mailto:s"></a></li>
            </ul>
          </div>
          <div class="bottom-line"></div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="footer-tag-">
            <p>© 2026 MASH FITNESS All rights reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="footer-tag text-light d-flex justify-content-end">
            <p>Proudly designed by <a style="color: blanchedalmond;" href="https://smconnect.co.za" target="_blank">SMCONNECT</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- start footer section -->

  <!-- jQuery -->
   <script>
    window.addEventListener("load", () => {
      document.getElementById("loader").style.display = "none";
    });
  </script>
  <script src="./assets/landing/js/jquery-3.6.0.min.js"></script>
  <script src="./assets/landing/js/bootstrap.min.js"></script>
  <script src="./assets/landing/js/jquery.smartmenus.js"></script>
  <script src="./assets/landing/js/owl.carousel.js"></script>
  <script src="./assets/landing/js/custom.js"></script>
    <script src="../assets/public/timetable.js"></script>

  <script>
  async function loadTimetable() {
    const res = await fetch("/api/sessions");
    const sessions = await res.json();
    renderTimetable(sessions); // pass "member" role
  }

loadTimetable();
</script>
</body>

</html>